body {
    margin: 0;
    font-family: sans-serif;
    font-size: $globalFontSize;
    background: $lightGrey;
}
.bold-text {
    font-weight: 700;
}
.app-title {
    text-align: center;
    margin: 2rem 0px 0px;
    font-weight: 300;
    font-size: 3rem;
}
.search-info {
    text-align: center;
    width: 100%;
    .search-message {
        font-weight: 400;
        font-size: 1.5rem;
        color: $dark;
    }
}
